.btn-primary {
    background-color: #e94560;
    border-color: #e94560;
}
.btn-primary:hover {
    background-color: #d63851;
    border-color: #d63851;
}
.btn-outline-primary {
    color: #e94560;
    border-color: #e94560;
}
.btn-outline-primary:hover {
    background-color: #e94560;
    border-color: #e94560;
    color: #fff;
}
.text-primary {
    color: #e94560 !important;
}
